<meta name="viewport" content="width=device-width">
<title>Stonetoss is a NAZI</title>
<meta name="description" content="Stonetoss is a NAZI" />
<link rel="stylesheet" href="/index.css">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="shortcut icon" href="/icos/antifa.png">

<a href="/">
  <img src="/icos/antifa-removebg-preview.png" alt="Antifa logo" width="100" height="100" style="position: absolute; top: 50; left: 100;">
</a>



<h2><span style="color: LimeGreen">Stonetoss is a NAZI</span></h2>
<p>
<a href="https://www.reddit.com/r/antifastonetoss/comments/fcck5a/the_definitive_guide_to_why_stonetoss_is_a_nazi/">Why Stonetoss is a nazi</a><br>
<br>
<a href="https://www.reddit.com/r/antifastonetoss/comments/gumpxe/resources_to_get_acquainted_with_fascism/">Resources to get acquainted with fascism and antifascism</a><br>
<a href="https://www.reddit.com/r/antifastonetoss/comments/anrwzl/why_fascist_comics_are_dangerous_even_if_theyre/">Why fascist comics are dangerous even as satire</a><br>
<a href="https://www.reddit.com/r/antifastonetoss/comments/ao4ia7/what_it_means_to_deplatform_a_fascist/">What it means to deplatform a fascist</a><br>
<a href="https://www.reddit.com/r/antifastonetoss/comments/b65xxq/why_you_shouldnt_debate_fascists/">Why you shouldn't debate fascists</a><br>
<br><a href=/archive/>What Stonetoss looks like</a>
<br>
All info here, including in <a href="/archive/">/archive/</a> will be maintained and archived to my best ability.<br>
This website's contents are also stored at <a href="https://codeberg.org/firebadnofire/stonetoss">Codeberg</a> as a git repository. This allows the site to be archived in 2 places and allow for mirroring.<br>
If you decide to mirror this on your own web server, check out <a href="https://codeberg.org/firebadnofire/git-sync">git-sync</a> to keep your files up-to-date with the repo.<br>
<br>


<br>You may use this domain (stonetossisanazi.org) in any media without prior coordination or asking for permission<br>

<br>
Want to contact me?<br>
Email me at: <a href="mailto:contact@stonetossisanazi.org" target="_blank">contact@stonetossisanazi.org</a><br>
I highly encourage you to share doxx info on nazis to this email. To ensure your security, please GPG encrypt all messages sent.
</p>
<p>
Please use GPG encryption when emailing me, but it is optional.<br>
My pub key can be found <a href="https://stonetossisanazi.org/contact/">here</a>
</p>

<p>
Dedicated to freedom, openness, and most importantly, the hatred for nazis.
</p>
<p>
This website is licensed under the <a href="/LICENSE.txt">Apache 2.0</a> License and created by <a href="https://git.archuser.org/">firebadnofire</a>.
</p>
