<meta name="viewport" content="width=device-width">
<title>Stonetoss is a NAZI</title>
<meta name="description" content="Stonetoss is a NAZI" />
<link rel="stylesheet" href="/index.css">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="shortcut icon" href="/icos/antifa.png">

<a href="/">
  <img src="/icos/antifa-removebg-preview.png" alt="Antifa logo" width="100" height="100" style="position: absolute; top: 50; left: 100;">
</a>


<h2><span style="color:LimeGreen">My contact email:</span></h2>

<p>
<a href="mailto:contact@stonetossisanazi.org" target="_blank">contact@stonetossisanazi.org</a><br>
<a href=/contact/gpg.asc>gpg.asc</a><br>
<a href=/contact/gpg-armor.txt>gpg-armor.txt</a><br>
<a href=/contact/gpg/>What is GPG?</a>
</p>

<p>
Please encrypt any emails to me with my gpg key public key above and include your public key for if I need to send an email back.
</p>
