<meta name="viewport" content="width=device-width">
<title>Stonetoss is a NAZI</title>
<meta name="description" content="Stonetoss is a NAZI" />
<link rel="stylesheet" href="/index.css">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="shortcut icon" href="/icos/antifa.png">

<a href="/">
  <img src="/icos/antifa-removebg-preview.png" alt="Antifa logo" width="100" height="100" style="position: absolute; top: 50; left: 100;">
</a>



<h2><span style="color:LimeGreen">Archived info</span></h2>
<p>
This directory (/archive/) contains info related to nazis who have been exposed.<br>
Every individual nazi will have their own directory.<br>
<br>
<a href="./archive/">Continue</a><br>
<a href="../">back</a>
