<meta name="viewport" content="width=device-width">
<title>Stonetoss is a NAZI</title>
<meta name="description" content="Stonetoss is a NAZI" />
<link rel="stylesheet" href="/index.css">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="shortcut icon" href="/icos/antifa.png">

<a href="/">
  <img src="/icos/antifa-removebg-preview.png" alt="Antifa logo" width="100" height="100" style="position: absolute; top: 50; left: 100;">
</a>
<h2><span style="color:LimeGreen">My public GPG key</span></h2>

<p>
<a href=/contact/gpg.asc>gpg.asc</a><br>
<a href=/contact/gpg-armor.txt>gpg-armor.txt</a><br>
</p>

<p>
GPG (GNU Privacy Guard) keys are used to encrypt/decrypt text messages. The GPG public key is used to encrypt the message, whilst the GPG private key is used to decrypt the message.<br>
When DM/PMing me, send me your GPG public key so I can send an encrypted message back to you and you can use the my GPG public key to encrypt messages to me.
</p>

<p>
NEVER NEVER NEVER send out your GPG private key! This key is for you and YOU only. If ANYONE asks for your private key, THEY ARE SCAMMING YOU OR TRYING TO STEAL YOUR DATA! Always back it up in a SECURE location like a raspberry pi NAS. Don't back it up on an untrustworthy server. If you lose your private key, YOUR MESSAGES ARE GONE FOREVER!
</p>

<link rel="icon" href="/favicon.svg">

<h4><span style="color: LimeGreen">How to use GPG:</span></h4>

<p><span style="color: LimeGreen">To encrypt a GPG message, use this command:</span></p>
<pre>
 <code>
echo "message" | gpg --recipient "target" --recipient "your_key" --encrypt --armor -o - -
 </code>
</pre>

<p>Replace <code>message</code> with the message to encrypt</p>
<p>Replace <code>target</code> with the recipient key ID</p>
<p>Replace <code>your_key</code> with your GPG key ID</p>

<p>While you don't have to specify your key when encrypting, it makes it so you can't read your own sent messages. It does come at the downside of making messages slightly bigger as a result of including your key ID. You can also add as many "--recipient" options as you want.</p>

<p><span style="color: LimeGreen">To decrypt a GPG message, use this command:</span></p>
<pre>
 <code>
echo "Encrypted text here" | gpg --decrypt
 </code>
</pre>

<p>or</p>

<pre>
 <code>
gpg --output unencrypted.txt --decrypt encrypted.gpg
 </code>
</pre>

<p><span style="color: LimeGreen">To export your public key in binary, use this command:</span></p>
<pre>
 <code>
gpg --export "key_id" --output gpg-pubkey.gpg
 </code>
</pre>
<p><span style="color: LimeGreen">To export your public key in ASCII, use this command:</span></p>
<pre>
 <code>
gpg --armor --export "key_id" --output gpg-pubkey-armor.txt
 </code>
</pre>
